@model Mediaverse.Application.Authentication.Commands.SignUp.SignUpCommand;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.BeginForm("SignUp", "Authentication", new { id = "signUpForm" }, FormMethod.Post)
    <h1 class="display-5">Sign Up</h1>
    @Html.TextBoxFor(x => x.Nickname)
    @Html.TextBoxFor(x => x.Email)
    @Html.TextBoxFor(x => x.Password)
    @Html.TextBoxFor(x => x.PasswordConfirmation)
    <input type="submit" value="Confirm" onclick="$('signUpForm').submit()"/>
</div>