@model Mediaverse.Application.ContentSearch.Queries.GetRelevantContent.Dtos.PreviewDto;

@{
    string Truncate(string text)
    {
        const int size = 20;
        return text.Length > size
            ? text.Substring(0, size) + "..."
            : text;
    }
}

<div class="text-center card gridItem" style="width: 150px">
    <div style="padding-top: 10px; padding-bottom: 10px">
        <div><img src="@Model.Thumbnail.Url" alt=""/></div>
        <div><strong>@Truncate(Model.Title)</strong></div>
        <div>@Truncate(Model.Description)</div>
        <input type="button" value="+" style="width: 40px; height: 40px;"
               onclick="addToPlaylist('@Model.ContentId.ExternalId', '@Model.ContentId.ContentSource', '@Model.ContentId.ContentType')"/>
    </div>
</div>