@model Mediaverse.Application.ContentSearch.Queries.GetRelevantContent.Dtos.PreviewDto;

@{
    string Truncate(string text)
    {
        const int size = 20;
        return text.Length > size
            ? text.Substring(0, size) + "..."
            : text;
    }
}

<div class="card gridItem" style="width: 150px">
    <div><img src="@Model.Thumbnail.Url" alt=""/></div>
    <div><strong>@Truncate(Model.Title)</strong></div>
    <div>@Truncate(Model.Description)</div>
    <input type="button" value="+" style="width: 30px; height: 20px;"
           onclick="addToPlaylist('@Model.ContentId.ExternalId', '@Model.ContentId.ContentSource', '@Model.ContentId.ContentType')"/>
</div>