@using Mediaverse.Domain.JointContentConsumption.Enums
@model Mediaverse.Application.JointContentConsumption.Commands.CreateRoom.CreateRoomCommand;
@{
    ViewData["Title"] = "Create room";
}

<div class="container-centered">
    <div class="card" style="width: 500px; height: 660px; padding-top: 20%;">
        <div class="container-centered text-center">
            @using (Html.BeginForm("CreateRoom", "ContentConsumption", FormMethod.Post, new {id="createRoomForm"}))
            {
                @Html.HiddenFor(x => x.HostId)
                <h1 class="display-3 text-center">Create a room</h1>
                <div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
                    <div style="text-align: left">
                        How the room should be called?
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Name, new {required="required", style = "font-size: 18px; width: 250px; height: 40px;"})
                    </div>
                </div>
                <div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
                    <div style="text-align: left">
                        Provide some description (optional)
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.Description, new {required="required", style = "font-size: 18px; width: 250px; height: 40px;"})
                    </div>
                </div>
                <div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
                    <div style="text-align: left">
                        Max viewers quantity
                    </div>
                    <div>
                        @Html.TextBoxFor(x => x.MaxViewersQuantity, new {required="required", style = "font-size: 18px; width: 250px; height: 40px;"})
                    </div>
                </div>
                <div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
                    <div style="text-align: left">
                        What is the type of the room?
                    </div>
                    <div>
                        @Html.DropDownListFor(x => x.Type, new SelectList(Enum.GetNames(typeof(RoomType))), new {@class="selectBox", style="width: 250px"})
                    </div>
                </div>
                <div style="text-align: left; padding-top: 5px; padding-bottom: 5px">
                    <div style="text-align: left">
                        Select playlist
                    </div>
                    <div>
                        @Html.DropDownListFor(
                            x => x.PlaylistId,
                            new SelectList(Model.AvailablePlaylists, "Id", "Name", "Create temporary"), 
                            new {@class="selectBox", style="width: 250px"})
                    </div>
                </div>
                <div style="padding-top: 20px;">
                    <input type="button" value="Confirm" onclick="createRoom()" style="width: 250px; height: 40px;"/>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("ModalDialog")

<script type="text/javascript">
    const createRoom = function() {
        var data = $("#createRoomForm").serialize();
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateRoom", "ContentConsumption")',
            data: data,
            success: function(res) {
                window.location.href = res.redirectToUrl;
            },
            error: function(xhr, ajaxOptions, thrownError) {
                const error = JSON.parse(xhr.responseText);
                showModal("Something went wrong", error.message)
            }
        });
    };
</script>
