@using Mediaverse.Domain.JointContentConsumption.Enums
@model Mediaverse.Application.JointContentConsumption.Common.Dtos.PlaylistDto

<div id="playlist" style="width: 350px; height: 400px; text-align: left; background-color: #bedfea;" align="right" class="playlist">
    <div style="height: 25px">
        Active playlist:
        @Html.DropDownList(
            "SelectedPlaylist",
            new SelectList(Model.AvailablePlaylists, "Id", "Name", Model.Id), 
            new {@class="selectBox", style="width: 120px"})
        <input style="width: 80px" type="button" value="Delete" onclick="deletePlaylist()"/>
    </div>
    <hr size="3" style="margin: 20px 10px 10px;"/>
    <div class="text-center">
        @if (Model.Items != null && Model.Items.Any())
        {
            <input style="width: 150px" type="button" value="<- Previous" onclick="switchContent('@SwitchContentDirection.Previous')"/>
            <input style="width: 150px" type="button" value="Next ->" onclick="switchContent('@SwitchContentDirection.Next')"/>
        }
        else
        {
            <input disabled="disabled" style="width: 150px" type="button" value="<- Previous" onclick="switchContent('@SwitchContentDirection.Previous')"/>
            <input disabled="disabled" style="width: 150px" type="button" value="Next ->" onclick="switchContent('@SwitchContentDirection.Next')"/>
        }
    </div>
    <hr size="3" style="margin: 10px"/>
    <ul>
        @if (Model.Items != null && Model.Items.Any())
        {
            foreach (var playlistItem in Model.Items)
            {
                <li>
                    @Html.Partial("PlaylistItem", playlistItem)
                </li>
            }
        }
    </ul>
</div>

<script>
    $('#SelectedPlaylist').on('change', function() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeActivePlaylist", "ContentConsumption")',
            data: { RoomId: $('#RoomId').val(), PlaylistId: $('#SelectedPlaylist').val() },
            error: function(xhr, ajaxOptions, thrownError) {
                const error = JSON.parse(xhr.responseText);
                showModal("Something went wrong", error.message)
            }
        });
    });
    
    function deletePlaylist(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePlaylist", "ContentConsumption")',
            data: { roomId: $('#RoomId').val() },
            error: function(xhr, ajaxOptions, thrownError) {
                const error = JSON.parse(xhr.responseText);
                showModal("Something went wrong", error.message)
            }
        });
    }
</script>