@model Mediaverse.Application.JointContentConsumption.Common.Dtos.RoomDto

<div class="card" onclick="joinPublicRoom('@(Model.Token)')" style="width: 400px; height: 100px; float: none; display: inline-block;">
    <div style="padding-top: 10px"><strong>Room:</strong> @Model.Name</div>
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div><strong>Description:</strong> @Model.Description</div>
    }
    else
    {
        <div>No description provided</div>
    }
    <div><strong>Viewers:</strong> @Model.CurrentViewersQuantity / @Model.MaxViewersQuantity</div>
</div>