@using Mediaverse.Application.ContentSearch.Queries.GetRelevantContent
@using Mediaverse.Application.ContentSearch.Queries.GetRelevantContent.Dtos
@using Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos
@using Mediaverse.Application.JointContentConsumption.Common.Dtos
@model RoomDto;
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-5">@Model.Name</h1>
    <div class="room">
        @await Html.PartialAsync("ContentSearchLine", new GetRelevantContentQuery())
    
        @await Html.PartialAsync("ContentPlayer", new ContentDto())

        <div id="playlistContainer"></div>
        <script>
            $.get('@Url.Action("Playlist", "ContentConsumption")', {playlistId: '@Model.ActivePlaylistId'}, function(content){
                    $("#playlistContainer").html(content);
                });
        </script>
    
        @await Html.PartialAsync("SearchResults", new SearchResultDto())
    </div>
</div>

<script type="text/javascript">
    const addToPlaylist = function(
        externalId,
        contentSource,
        contentType) {
        
        let contentId = {
            ExternalId: externalId,
            ContentSource: contentSource,
            contentType: contentType
        }
        
        let command = {
            ContentId: contentId,
            CurrentRoomId: '@Model.Id'
        }
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddContentToPlaylist", "ContentConsumption")',
            data: command,
            success: function(res) {
                $('#playlist').replaceWith(res);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.message);
            }
        });
    };
    
        const switchContent = function(direction) {  
            let command = {
                RoomId: '@Model.Id',
                Direction: direction
            }
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("SwitchContent", "ContentConsumption")',
                data: command,
                success: function(res) {
                    $('#contentPlayer').replaceWith(res);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(xhr.message);
                }
            });
        };
</script>